[submodule ".obsidian/plugins/axi25"]
	path = .obsidian/plugins/bojubot
	url = https://github.com/felipefontoura/axi25-plugin.git
[submodule ".axi25"]
	path = .axi25
	url = https://github.com/felipefontoura/axi25-core.git
	branch = main
